/*
/////////////////////////////
Color Pallette

Yellow: 1, .83,.52 =  255, 212, 132 = #FFD484
Teal: 0,1,0.8 = 0, 255, 204   = #00ffcc
Blue: 0.6,.7,1  = 153,178,255 = #99B2FF
Violet: .9,.6,1  = 229,153,255 = #E599FF
////////////////////////////
*/

html {
overflow: hidden;
}

body {
		background-color: black;
		position: absolute;
		/* left:20%; */
		/* margin-left: auto;
  	margin-right: auto; */
}

.button {
	color: white;
	/* background-color: transparent; */
	background-color: #555555;
	background-repeat:no-repeat;
	border-radius: 50%;
	/* border: none; */
	cursor:pointer;
	overflow: hidden;
	/* outline:none; */
	display:inline-block;
	position: fixed;
	font-size: 25px;
	opacity: 0.75;
	/* margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px; */


	/* position: fixed; */
	top:57%;
	left:55.5%;
	transform: translate(-100%,-100%);
	z-index: 1000;
	padding: 32px 16px;

}

.button:hover {
  background-color: #555555; /* Green */
  color: white;
}

#loader {
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-46%,-50%);
	z-index:998;
}
/* #loader img{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}  */
#orbiter{
	position: fixed;
	top:50%;
	left:50%;
	/* width:20%; */
	transform: translate(-58%,-60%);
	z-index:998;
}

#loaderText {

	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: transparent;
	background-repeat:no-repeat;
	/* border: none; */
	cursor:pointer;
	overflow: hidden;
	/* outline:none; */
	display:inline-block;
	position: fixed;
	font-size: 25px;
	opacity: 0.6;
	/* margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px; */

	/* position: fixed; */
	top:48%;
	left:53%;
	transform: translate(-100%,-100%);
	margin-left: auto;
  margin-right: auto;
	z-index: 1000;
}
#playButton {
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:998;
}

.blackOverlay {
	/* position:fixed;
	width:100%;
	width:1920px;
	height:1090px;
	background-color: black;
	z-index:997; */
	/* margin-top:-15px;
	margin-top:-1%;
	margin-left:-1%; */

	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	/* background-color: rgb(0,0,0); /* Black fallback color */
	/* background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.hidden {
	/* display: none; */
  visibility:hidden;

}
